.smallTech {
  display: flex;
}
.smallTech .card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 5px 15px;
  margin: 5px;
  /* background-image: linear-gradient(
    180deg,
    rgb(217, 217, 217) 0%,
    rgb(255, 91, 0, 0.3) 100%
  ); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgb(255, 91, 0, 0.4) 100%
  ) !important;
  border: 1px solid rgb(255, 91, 0, 0.75 );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.smallTech .card img {
  width: 3rem;
  margin-bottom: 5px;
}

.smallTech .card p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .smallTech {
    justify-content: center;
  }
  .smallTech .card {
    margin: 0.25rem;
    padding: 1rem;
    max-width: 15rem;
  }
  .smallTech .card img {
    width: 5rem;
    margin-bottom: 5px;
  }
  .smallTech .card p {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 768px) {
  .smallTech .card {
    margin: 0.5rem;
    padding: 0.75rem 1.25rem;
  }
  .smallTech .card img {
    width: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .smallTech .card p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .smallTech .card {
    margin: 0.25rem;
    padding: 0.65rem 1.15rem;
  }
  .smallTech .card img {
    width: 3.5rem;
    margin-bottom: 0.35rem;
  }
  .smallTech .card p {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 450px) {
  .smallTech .card {
    padding: 0.25rem 1rem;
    margin: 3px;
  }
  .smallTech .card p {
    font-size: 0.85rem;
    font-weight: 100;
  }
  .smallTech .card img {
    width: 2.5rem;
  }
}
