.container.mainSec {
  display: flex;
  justify-content: center;
  max-width: 100vw !important;

  margin: auto;
}
.sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 85vh;
  max-height: 50rem !important;
  background-color: #dbe2e9;
  justify-content: space-evenly;
  padding: 2rem 10rem;

  border-radius: 1rem 1rem 5rem 1rem;
  width: 100%;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
}
.sec-1 .top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;

  border-radius: 3rem;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
  padding: 0.25rem 2rem;
}
.sec-1 .top img {
  width: 2rem;
  margin-right: 1rem;
}
.sec-1 .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.sec-1 .middle b {
  color: #ff5b00;
}
.sec-1 .middle h1 {
  font-size: 4.5rem;
  background: -webkit-radial-gradient(circle, #ff5b00, #f45700, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  margin: 1rem 0 2rem 0;
  /* height: 5rem; */
}
.sec-1 .middle h2 {
  font-size: 2.35rem;
  margin-bottom: 2rem;
}
.sec-1 .middle span {
  background-image: linear-gradient(
    180deg,
    rgb(217, 0, 0, 0.1) 0%,
    rgb(255, 91, 0, 0.3) 100%
  );
  display: inline-block;
  flex-wrap: wrap;
  width: fit-content;
  font-weight: 600;
  border-radius: 2rem;
  font-size: 1.75rem;
  padding: 0.25rem 1rem;
  color: #121212;
  border: 1px solid #ff5b00;
}
.sec-1 .middle p {
  font-size: 1.25rem;
}
.sec-1 .bottom {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .sec-1 {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-1 .middle h1 {
    font-size: 2.7rem;
    /* height: 3rem; */
  }
  .sec-1 .middle h2 {
    font-size: 1.75rem;
  }
  .sec-1 .middle p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .sec-1 .top {
    font-size: 1.25rem;

    padding: 0.5rem 1.75rem;
  }
  .sec-1 .top img {
    width: 2rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 520px) {
  .container {
    padding: 8px;
  }
  .sec-1 {
    padding: 2rem 5px 3rem 5px;
    height: 80vh;
  }
}
@media screen and (max-width: 420px) {
  .sec-1 .middle h1 {
    font-size: 2rem;
  }
  .sec-1 .middle h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .sec-1 .middle p {
    font-size: 1rem;
  }
  .sec-1 .middle h2 span {
    font-size: 1.15rem;
  }
}
