.Sec-6 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Sec-6 h2 {
  text-align: center;

  font-size: 3rem;
  font-weight: 600;
  margin: 3rem 0 1rem 0;
}
.Sec-6 .technology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .Sec-6 h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .Sec-6 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .Sec-6 h2 {
    font-size: 1.75rem;
  }
}
