.Sec-7 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Sec-7 h2 {
  font-size: 3rem;
  margin: 4rem 0 1rem 0;
  font-weight: 600;
  text-align: center;
}
.Sec-7 .company {
  padding: 1.5rem 0;
  width: 100%;
  /* height: 10rem; */
  backdrop-filter: blur(3.5px);
  --webkit-backdrop-filter: blur(3.5px);
  background: linear-gradient(
    240deg,
    rgb(255, 91, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.15) 100%
  ) !important;
  border: 1px solid rgb(255, 91, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  border-radius: 5px 5px 120px 5px;
  margin-bottom: 2rem;
}
.Sec-7 .company .top {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Sec-7 .company .top .comName {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 105, 25,0.75);

  border-radius: 5rem;
  padding: 2px 1rem 2px 2px;
}
.Sec-7 .company .top .comName img {
  width: 5rem;
  border-radius: 5rem;
  background-color: white;
}
.Sec-7 .company .top .comName .content {
  width: 80%;
  text-align: center;
}
.Sec-7 .company .top .comName .content h3 {
  font-size: 1.75rem;
  font-weight: 600;
}
.Sec-7 .company .top .comName .content p {
  margin: 0;
  font: 1rem;
}
.Sec-7 .company .top .comDuration {
  width: 40%;
}
.Sec-7 .company .mid {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}
.Sec-7 .company .mid img {
  width: 3.5rem;
  border-radius: 5rem;
  margin-right: 1rem;
  border: 1px solid #ff5b00;
  background-color: #f1f1f1;
}
.Sec-7 .company .mid span {
  font-size: 2.5rem;
  font-weight: 600;
}
.Sec-7 .company .bot {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
}
.Sec-7 .company .bot ul {
  padding: 0 3rem;
}

.Sec-7 .company .bot ul li {
  font-size: 1.25rem;
  letter-spacing: 0.25px;
  list-style-type: disclosure-closed;
  margin-bottom: 10px;
  font-weight: 400;
}
@media screen and (max-width: 1400px) {
  .Sec-7 .company .top .comName .content h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .Sec-7 .company .top .comName {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .Sec-7 .company .top .comName img {
    width: 4rem;
  }
  .Sec-7 .company .top .comName .content h3 {
    font-size: 1.35rem;
  }
  .Sec-7 .company .top .comName .content p {
    font-size: 1rem;
  }
  .Sec-7 .company .mid img {
    width: 4rem;
  }
  .Sec-7 .company .mid span {
    font-size: 2rem;
  }
  .Sec-7 .company .bot ul li {
    font-size: 1.35rem;
  }
}
/* @media screen and (max-width: 768px) {
  .Sec-7 .company .top {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
   .Sec-7 .company .top .MultiUseBtn{
    margin-bottom: 10px;
   }
} */
@media screen and (max-width: 768px) {
  .Sec-7 h2 {
    font-size: 1.75rem;
  }
  .Sec-7 .company {
    padding: 1.5rem 0.5rem;
  }
  .Sec-7 .company .top,
  .Sec-7 .company .mid,
  .Sec-7 .company .bot {
    padding: 0;
  }

  .Sec-7 .company .top .comName {
    width: 53%;
  }
  .Sec-7 .company .top .comName img {
    width: 2.75rem;
  }
  .Sec-7 .company .top .comName .content h3 {
    font-size: 1rem;
    margin: 5px;
  }
  .Sec-7 .company .top .comName .content {
    width: 100%;
  }
  .Sec-7 .company .top .comName .content p {
    font-size: 0.75rem;
  }
  .Sec-7 .company .mid img {
    width: 3rem;
  }
  .Sec-7 .company .mid span {
    font-size: 1.75rem;
  }
  .Sec-7 .company .bot ul li {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .Sec-7 .company {
    border-radius: 5px 5px 50px 5px;
  }

  .Sec-7 .company .top .comName {
    width: 53%;
  }
  .Sec-7 .company .top .comName img {
    width: 2.5rem;
  }
  .Sec-7 .company .top .comName .content h3 {
    font-size: 1rem;
    margin: 3px;
  }
  .Sec-7 .company .top .comName .content {
    width: 100%;
  }
  .Sec-7 .company .top .comName .content p {
    font-size: 0.75rem;
  }
  .Sec-7 .company .mid img {
    width: 2.5rem;
  }
  .Sec-7 .company .mid span {
    font-size: 1.5rem;
  }
  .Sec-7 .company .bot ul {
    padding: 0 0.75rem 0 1.25rem;
  }

  .Sec-7 .company .bot ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 510px) {
  .Sec-7 .company .top {
    flex-direction: column-reverse;
    align-items: start;
  }
  .Sec-7 .company .top .comName {
    width: 65%;
  }
}
@media screen and (max-width: 450px) {
  .Sec-7 .company .top .comName {
    width: 77%;
  }
  .Sec-7 .company .bot ul {
  }
}
@media screen and (max-width: 365px) {
  .Sec-7 .company .top .comName {
    width: 90%;
  }
}
